@import url("../../../css-global/style.css");

@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?x2elbl');
	src:url('../fonts/icomoon.eot?#iefixx2elbl') format('embedded-opentype'),
		url('../fonts/icomoon.woff?x2elbl') format('woff'),
		url('../fonts/icomoon.ttf?x2elbl') format('truetype'),
		url('../fonts/icomoon.svg?x2elbl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'buscar';
	src:url('../fonts2/icomoon.eot?-5dly7z');
	src:url('../fonts2/icomoon.eot?#iefix-5dly7z') format('embedded-opentype'),
		url('../fonts2/icomoon.woff?-5dly7z') format('woff'),
		url('../fonts2/icomoon.ttf?-5dly7z') format('truetype'),
		url('../fonts2/icomoon.svg?-5dly7z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.datos{
	text-transform: uppercase;
}
.circulo{
	background-color: #0099cc;
	width: 5px;
	height: 5px;
	position: absolute;
	margin-left: -10px;
	margin-top: 7px;
	border-radius: 50%;
	-webkit-animation: 1s circle infinite;
	-o-animation: 1s circle infinite;
	-ms-animation: 1s circle infinite;
	-moz-animation: 1s circle infinite;
	animation: 1s circle infinite;

}
@-moz-keyframes circle {
0% {
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}
100% {
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
}
@-webkit-keyframes circle {
0% {
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}
100% {
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
}
.mod p a{
	text-decoration: none;
	color:white;
}

.tem{
	width: 100%;
	height: 50px;
	background: -webkit-linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	background: linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	border-radius: 10px 10px 0px 0px;
overflow: hidden;
}
.tem p{
	text-align: center;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
}
.seccion1{
	border-radius: 10px 10px 10px 10px;
	height: 550px;
	margin-left: 240px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	position: fixed;
	width: 80%;
	border:2px solid rgba(0,0,0,0.2) ;
}
.control{
	background: -webkit-linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	background: linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	width: 80%;
	height: 50px;
	margin-bottom: 15px;
	bottom:0 !important;
	position: fixed;
	border-radius: 0px 0px 10px 10px;
}

/*cino de estacion*/
.estacion{
	margin-left:420px;
	margin-top: 10px;
	width: 50px;
	height: 50px;
	position: absolute;

}
.estudent{
	width: 50px;
	height: 50px;
	position: absolute;

}
.estudent:after{
font-family: "iconitos";
content: "\e655";
font-size: 23px;
color: #000;
}

.userimg .miniatura img{
	width: 45px;
	height:45px;
	border-radius: 50%;
	margin-top: -7px;
	margin-left: -23px;
}
.usuario,.password{
	padding-left: 10px;
	color: #024960;
}
.btnModulo{
	position: absolute;
	background-color:#1e90ff;
	padding: 10px 30px;
	text-decoration: none;
	color: white;
	margin-left: 20px;
	margin-top: 5px;
	border-radius: 5px;
	border-bottom: 3px solid rgb(0, 206, 251);
}
.btnModulo:hover{
	border-style: none;
}
.icoModulo{
	padding-left: 20px;
}
.icoModulo:after{
	font-family: "iconitos";
	content:"\e610";
}
.modulo{
	width: 100%;
	height: 55px;
	overflow: hidden;
	background-color: rgb(212, 212, 212);
}
.altas-modulo{
	position: absolute;
	margin-top: 55px;
	width: 100%;
	height: 40px;
	background-color: rgb(212, 212, 212);
	display: none;

}
.altas-modulo form table tr td{
	padding-left: 20px;
}
.altas-modulo form table tr td input[type="text"]{
	color: rgba(0,0,0,0.7);
	width: 200px;
	height: 30px;
	border-style: none;
	padding-left: 10px;
}
.agregar{
	width: 170px;
	height: 35px;
	border-style: none;
	background-color: rgb(21, 179, 185);
	border-bottom: 3px solid rgb(0, 111, 255);
	color: white;
	border-radius: 5px;
	font-weight: bold;

}
.agregar:hover{
	border-style: none;
}
.icoAgregar{
	margin-left: -23px;
	position: absolute;
	margin-top: 5px;
}
.icoAgregar:after{
	font-family: "iconitos";
	content:"\e631";
	color: white;
}
.modulos-view{
background-color:rgba(0,0,0,0.7);
/*font-family: helvetica;*/
height: 100%;
width: 100%;
z-index: 100;

position: fixed;
top: 0px;
left: 0px;
display: none;
}
.title{
	background-color: rgba(0,0,0,0.1);

	border-radius: 0px 20px 0px  0px;
}
.model-con{
	margin: 0 auto;
	margin-top: 70px;
	/*border:10px solid rgba(255,255,255,0.1);*/
	width: 1030px;
	height: 550px;
	padding: 10px;
	/*background-color: rgba(238, 238, 238, 0.2);*/
	 overflow: hidden;
overflow-x:hidden;
overflow-y:scroll;
}

.model{
	width: 200px;
	height: 120px;
	background-color:rgb(19, 126, 161);
	display: inline-block;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
	border-radius: 0px 20px 0px  20px;
}
.model table {
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;


}
.cerrar{
	position: absolute;
	cursor:pointer;
	padding-top: 10px;
	right: 0px;
	width: 60px;
	height: 50px;
	/*border:5px solid white;*/
	background-color:rgb(19, 126, 161);

}
.cerrar:after{
	font-family: "iconitos";
	content:"\e62d";
    color: white;
	font-size: 40px;

	padding: 10px;
}
.modulos-view p {
	position: absolute;
	text-transform: uppercase;
	font-size: 30px;
	color: rgba(238, 238, 238, 1);
	margin-left: 115px;
	font-family: helvetica;
}

.modal{
	background-color:rgb(14, 77, 80);
	color: white;
	/*position: absolute;*/
	margin-top: 5px;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 3px solid rgb(15, 83, 246);
	border-radius: 5px;
}
.modal:hover{
	border-style: none;
}
.control{
	overflow: hidden;
	text-align: center;
}
.modal-mas:after{
font-family: "buscar";
	content:"\e606";
	color: white;
	padding-left: 20px;
}