@import url("../../../css-global/style.css");
@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?x2elbl');
	src:url('../fonts/icomoon.eot?#iefixx2elbl') format('embedded-opentype'),
		url('../fonts/icomoon.woff?x2elbl') format('woff'),
		url('../fonts/icomoon.ttf?x2elbl') format('truetype'),
		url('../fonts/icomoon.svg?x2elbl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.form1 .table1{
margin: 0 auto;
margin-top: 15px;


}
.table1 select {
	cursor: pointer;
}
.table1 select option{
	background-color: white;
}
.form1 .table1 td{
	padding-bottom: 5px;
padding-left: 30px;
	padding-right: 10px;
}
.form1 .table1 td label{
color: #104e8b;
font-family: verdana;
font-size: 15px;
font-weight: bold;
}
.edad select{
	width: 60px;
}
.edad label{
	margin-left: 20px;
}
.form1 .table1 input[type="file"]{
	border: 1px solid transparent;
	cursor: pointer;
	background-color:	#00b2ee;
	opacity: 0.9;
}
.form1 .table1 input,select{
	border-radius: 5px 5px 5px 5px;
	width: 250px;
	height: 27px;
	color: black;
	border-style: none;
	background-color:#e3e3e3;
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
    font-weight: bold;
}
.table2{
margin: 0 auto !important;
margin-top: 5px !important;
}
.table2 td{
	padding-left: 40px;
}
.table2 td input{
width: 100px;
height: 40px;
color: white;
font-weight:bolder;
}
.modificarbtn{
background: #008CDD;
border-style: none;
width: 190px !important;
height: 30px;
border-radius:5px;
border-bottom: 4px solid #00688B !important;

	}


.modificarbtn:hover{
border-style: none !important;
}
	.borrarbtn{
border-radius:5px;
border-style: none;
width: 190px !important;
background-color:	#ff4500;
border-bottom:4px solid #cd3700;

	}
	.borrarbtn:hover{
		border-style: none;
	}
/*------------------------------------------------------*/

.tem{
	width: 100%;
	height: 50px;
	background: -moz-linear-gradient(center top , #F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;


background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
	border-radius: 10px 10px 0px 0px;
overflow: hidden;
}
.tem p{
	text-align: center;
	font-weight: bold;
	color: black;
}
.seccion1{
	border-radius: 10px 10px 10px 10px;
	height: 550px;
margin-left: 240px;
margin-top: 10px;
background-color: rgba(255, 255, 255, 0.3);
position: fixed;
width: 80%;
border:2px solid rgba(0,0,0,0.2) ;
}
.control{
background: -moz-linear-gradient(center top , #F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
	width: 80%;

	height: 50px;
	margin-bottom: 15px;
	bottom:0 !important;
	position: fixed;
	border-radius: 0px 0px 10px 10px;
}


.Ccontent .moduser{
	width: 45%;
	height: 90px;
	background-color: 	#008b8b;
	overflow: hidden;
	padding-top: 10px;
	margin: 0 auto;
	margin-bottom: 20px;

}
.perfil{
width: 120px;
height: 140px;
background-color: rgba(0,0,0,0.2);
margin: 0 auto;
margin-top: 10px;
}
.table4{
	margin: 0 auto;

}
.imagen1{
			background-color:	#20b2aa !important;
	 color:	#f5fffa;
}

.table4 td p{
font-family: verdana;
font-weight: bold;
text-align: center;
color: #104e8b;
}
.table4 td input{
	width: 250px;
	height: 30px;
	border-radius: 5px;
	border-style: none;
	background-color:rgba(255,255,255,0.2);
	 -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}
.table4 td span{

color: #104e8b;
}
.usuario1:after{
	font-family: "iconitos";
	content:"\e603";
	margin-left: 10px;
	font-size: 20px;

}
.password1:after{
	font-family: "iconitos";
	content:"\e64e";
	margin-left: 10px;
		font-size: 20px;


}
.confirmacion{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height:100%;
	top: 0;

	position: fixed !important;
	left: 0;
	z-index: 100 !important;
	display: none;
}
.confcuerpo{
	width: 550px;
	height: 300px;
	background-color: rgba(255,255,255,0.9);
	margin: 16% auto;

}
.confcabeza{
	width: 100%;
	height: 60px;
		background: -webkit-linear-gradient(#ffa500, #cd8500) repeat scroll 0% 0% transparent;
		background: -o-linear-gradient(#ffa500, #cd8500) repeat scroll 0% 0% transparent;
		background: linear-gradient(#ffa500, #cd8500) repeat scroll 0% 0% transparent;


}
.footercabeza{

	width: 100%;
	height: 78px;
	margin-top: 160px;
overflow: hidden;
	bottom: 0;
	position: relative;
}
.tablealerta{
	margin: 0 auto;
	margin-right: 50px;
}
.tablealerta td input{
	margin-top: 20px;
	width: 150px;
	margin-left: 35px;
	height: 40px;
}

.confcabeza p{
	color: white;

	display: inline-block;
	font-size: 20px;
	margin-top: 20px;

}
.confcabeza p .temaconf:before{
font-family: "iconitos";
content:"\e62a";
font-size: 20px;
margin-left: 15px;
margin-right: 15px;
}
.cerrarconf{
	width: 50px;
	height: 60px;
cursor: pointer;
	float:right !important;
	right: 0;
	position: relative;
	display: inline-block;
	margin-top: 17px;
}
.cerrarconf span{
	margin-left: 10px;


}
.iconocerrar:before{
font-family: "iconitos";
content: "\e62d";
color: white;
font-size: 25px;

}
.mesconf{

	width: 550px;
	height: 160px;
	position: absolute;
}
.mesconf p{
	margin-left: 30px;
	margin-top: 40px;
	font-family: 30px !important;

	font-weight: bold;
}
.confalerta{
	background: -webkit-linear-gradient(#00cdcd, #009acd) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#00cdcd, #009acd) repeat scroll 0% 0% transparent;
	background: linear-gradient(#00cdcd, #009acd) repeat scroll 0% 0% transparent;
	border-style: none;
	color: white;
	font-weight: bold;
}
.confalerta:hover{

	background: -webkit-linear-gradient(#009acd, #00cdcd) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#009acd, #00cdcd) repeat scroll 0% 0% transparent;
	background: linear-gradient(#009acd, #00cdcd) repeat scroll 0% 0% transparent;
}
.borrarconf{
background: -webkit-linear-gradient(#009acd, #1874cd) repeat scroll 0% 0% transparent;
background: -o-linear-gradient(#009acd, #1874cd) repeat scroll 0% 0% transparent;
background: linear-gradient(#009acd, #1874cd) repeat scroll 0% 0% transparent;
	border-style: none;
	color: white;
	font-weight: bold;

}
.borrarconf:hover{
	background: -webkit-linear-gradient(#1874cd, #009acd) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#1874cd, #009acd) repeat scroll 0% 0% transparent;
	background: linear-gradient(#1874cd, #009acd) repeat scroll 0% 0% transparent;
}
/*-----------------------------*/

/*--------------------------*/
.icomodif{
background: -webkit-linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
background: -o-linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
background: linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;

width: 35px;
height: 40px;

position: absolute;
margin-left: 180px;
margin-top: -40px;
border-radius: 0px 5px  5px 0;
}
.icomodif span{
	vertical-align: middle;
position: absolute;
height: 40px;
}
.icomodif1{
margin-left: 10px !important;
margin-top: 10px !important;
	margin: 0 auto;
	overflow: hidden;

}
.icomodif1:after{
	font-family: "iconitos";
	content: "\e631";
	margin-right: 20px;
color: white;



}
/*---------------------------------------------*/
/*--------------------------*/
.icolimpiar{
background: -webkit-linear-gradient(#ee2c2c, #cd3700) repeat       scroll 0% 0% transparent;
background: -o-linear-gradient(#ee2c2c, #cd3700) repeat       scroll 0% 0% transparent;
background: linear-gradient(#ee2c2c, #cd3700) repeat       scroll 0% 0% transparent;
width: 35px;
height: 40px;
border-radius: 0px 5px  5px 0;

position: absolute;
margin-left: 180px;
margin-top: -40px;

}
.icolimpiar span{
	vertical-align: middle;
position: absolute;
height: 40px;
}
.icolimpiar1{
margin-left: 10px !important;
margin-top: 10px !important;
	margin: 0 auto;
	overflow: hidden;

}
.icolimpiar1:after{
	font-family: "iconitos";
	content: "\e630";
	margin-right: 20px;
color: white;



}
/*---------------------------------------------*/
.conentacept{
background: -webkit-linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
background: -o-linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
background: linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
width: 35px;
height: 40px;

position: absolute;
margin-left: 180px;
margin-top: -40px;

}
.conentacept span{
	vertical-align: middle;
position: absolute;
height: 40px;
}
.icoacep{
margin-left: 10px !important;
margin-top: 10px !important;
	margin: 0 auto;
	overflow: hidden;

}
.icoacep:after{
	font-family: "iconitos";
	content: "\e631";
	margin-right: 20px;
color: white;



}
/*--------------------------*/
.conentcancelar{
background: -webkit-linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
background: -o-linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
background: linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
width: 35px;
height: 40px;

position: absolute;
margin-left: 180px;
margin-top: -40px;

}
.conentcancelar span{
	vertical-align: middle;
position: absolute;
height: 40px;
}
.icoacancelar{
margin-left: 10px !important;
margin-top: 10px !important;
	margin: 0 auto;
	overflow: hidden;

}
.icoacancelar:after{
	font-family: "iconitos";
	content: "\e630";
	margin-right: 20px;
color: white;



}