@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?x2elbl');
	src:url('../fonts/icomoon.eot?#iefixx2elbl') format('embedded-opentype'),
		url('../fonts/icomoon.woff?x2elbl') format('woff'),
		url('../fonts/icomoon.ttf?x2elbl') format('truetype'),
		url('../fonts/icomoon.svg?x2elbl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{

background:url(../image/fondo2.png),url(../image/fondo.png);
font-family: verdana;
}
header{
	background: -webkit-linear-gradient(#009acd, #0099cc) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#009acd, #0099cc) repeat scroll 0% 0% transparent;
	background: linear-gradient(#009acd, #0099cc) repeat scroll 0% 0% transparent;
	height: 70px;
	width: 100%;

}


.logo img{
	width: 22%;
	padding: 5px;
	position: fixed;
}

.menu{
	display:inline-block;
	float:right;
	margin-right: 20px;
}
.menu li {
	list-style: none;
	display:inline-block;
	padding-left: 10px;
	margin-top: 5px;

}
.menu li a{
	color: rgba(255,255,255,1);
	text-decoration: none;
font-weight: 600;
font-size: 15px;

}
.menu li a:hover{
		color:		#87cefa;

	   -webkit-transition:all 1s ease;
   -moz-transition:all 1s ease;
   -o-transition:all 1s ease;
   transition:all 1s ease;
}

.campo{
	width: 300px;
	height: 40px;
	border-style: none;
background-color:	#e3e3e3;
 color: black;
 border:1px solid 	#00b2ee;
}
.campos {
	margin-top: 50px;
}

.enviar{
	width: 110px;
	height: 30px;
}
.menu span{
	margin-left: 10px;
}
  .home:before{
	font-family: "iconitos";
	content:"\e608";
	padding-right: 10px;

}
  .contacto:before{
font-family: "iconitos";
content:"\e626";
padding-right: 10px;
}
  .salir:before{
font-family: "iconitos";
	content:"\e60b";
	padding-right: 10px;

}
.cuerpo{
	margin: 0 auto;
	text-align: center;
	width: 600px;
	height: 350px;
	background-color:rgba(255,255,255,0.3);
	margin-top: 70px;

	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}
.cuerpo .encabezado{
	width: 100%;
	height: 70px;
	color:white;

	background: -webkit-linear-gradient(#009acd, #0099cc) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#009acd, #0099cc) repeat scroll 0% 0% transparent;
	background: linear-gradient(#009acd, #0099cc) repeat scroll 0% 0% transparent;

}

.titulo{
	float: left;
	margin: 22px;

}
.sistemas{
	float: right;
	margin: 22px;
	color:white ;
	padding:0px 10px 0px 10px;

  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.24);

}
input[name='enviar']{
	 background-color:	#00688b;
	 border: none;
	 color: white;
	 width: 140px;
	 height: 40px;
	 margin-left: 70px;
	 position: absolute;
     border-radius: 7px ;
     border-bottom: 4px solid 	#1e90ff;
     font-weight: bold;


}
input[name='enviar']:hover{
	 border-style: none;
	 -moz-transition:all 2s;
	 -webkit-transition:all 2s;
}
.ico1:before{
	font-family: "iconitos";
	content:"\e603";
	margin-left: 10px;
	font-size: 20px;
}
.ico2:before{

	font-family: "iconitos";
	content: "\e64e";
	margin-left: 10px;
	font-size: 20px;
}

footer{

	background: -webkit-linear-gradient(#009acd, #0099cc) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#009acd, #0099cc) repeat scroll 0% 0% transparent;
	background: linear-gradient(#009acd, #0099cc) repeat scroll 0% 0% transparent;
	height: 70px;
	width: 100%;
	color:rgba(255,255,255,0.7);
	position: absolute;
	bottom: 0;
	text-align: center ;

}
footer a{
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle !important;
	text-decoration: none;
	color:white;

}


footer a:after{
	content:" - " ;
}
footer a:before{
	content:" - " ;
}
input[type='radio']{
	margin-left: 22%;
	margin-top: 7px;
}
.radio1{
	margin-top: 10px !important;
}
input[type='radio'],.recor{
	float: left;
	color:	#00688B;
	font-weight:bold;
}
.recor{
	margin: 3px 15px 0px 0px;
	padding-left: 90px;

}
.reco{
	float: left;
	position: relative;
	margin-top: 45px ;
	margin-left: 130px !important;
	color:#329393;
	list-style: square;
	font-weight: bold;

}

/*--------------------------*/
.conent1{
	background: -webkit-linear-gradient(#00A1F1, #0072C6) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#00A1F1, #0072C6) repeat scroll 0% 0% transparent;
	background: linear-gradient(#00A1F1, #0072C6) repeat scroll 0% 0% transparent;
	width: 35px;
	height: 40px;
	border-radius: 0px 5px 5px 0px;
	position: relative;
	margin-right: 160px;
	float: right;
	z-index: 30;

}
.conent1 span{
	vertical-align: middle;
	position: absolute;
	height: 40px;
}
.icoenviar{
	margin-left: -5px !important;
	margin-top: 10px !important;
	margin: 0 auto;
	overflow: hidden;

}
.icoenviar:after{
	font-family: "iconitos";
	content: "\e60f";
	margin-right: 20px;
color: white;


}
/*--------------------------*/
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 320px) {
header{
height: 60px;

}
.menu{

	float:left;
	margin-left: -50px;
}
.campo{
	width: 200px;
	height: 30px;

}
.campos {
	margin-top: 30px;
}
.cuerpo{

	width: 300px;
	height: 290px;
	margin-top: 30px;
}
.cuerpo .encabezado{
	width: 100%;
	height: 50px;
}

.titulo{
	margin: 13px;

}
.sistemas{
	float: right;
	margin: 13px;


}
input[name='enviar']{
	 width: 80px;
	 height: 30px;
   padding-bottom: 5px;
     margin-left: 95px;

}
footer{
	height: 50px;
}
footer a{
	font-size: 13px;
}
footer label{
font-size: 15px;
}
input[type='radio']{
	margin-left: 10%;
	margin-top: -10px;



}


.recor{
	margin: -15px 15px 0px 0px;
	padding-left: 3px;
}
.reco{
float: left;
margin-top: 20px;
margin-left: 10%;

}


}
@media only screen and (max-width: 240px) {
	header{
height: 60px;

}
.menu{
	display: inline-block;
	float:left;
	margin-left: -45px;
}
.menu li {

	padding-left: 0px;
	margin-top: 5px;

}
.menu li a{
	font-size: 11px;
}
.campo{
	width: 150px;
	height: 25px;

}
.campos {
	margin-top: 10px;
}
.recor{

 font-size: 13px;
}

.reco{
	margin-top: -30px;
}
.cuerpo{

	width: 220px;
	height: 205px;
	margin-top: 10px;
}
.cuerpo .encabezado{
	width: 100%;
	height: 40px;
}

.titulo{
	margin: 8px;

}
.sistemas{
	float: right;
	margin: 8px;


}
input[type='radio']{
margin-left: 10px;


}
input[name='enviar']{
	 width: 60px;
	 height: 30px;
	   padding-bottom: 5px;
     margin-left: 80px;
     margin-top: -50px !important;


}
footer{
	height: 50px;
}
footer a{
	font-size: 13px;
}
footer label{
font-size: 15px;
}
input[type='radio']{
	margin-left: 15px;
	margin-top: -20px;
}
.recor{
	margin: -23px 15px 0px 0px;
	padding-left: 30px;
}
.reco{
float: left;
margin-top: 0px;
margin-left: 10%;
font-size: 13px;

}}

