
.pdf{
	width: 120px;
	height: 50px;
	background-color: rgba(255,255,255,0.8);
bottom: 70px;
right: 10px;
position: absolute;
z-index: 2;

}
.img-pdf{

	width: 60px;
	height: 50px;

}
.img-pdf img{
width: 60px;
height: 50px;
opacity: 0.6;
}
.img-pdf img:hover{
opacity: 1;
-moz-transition:all ease 2s;
-webkit-transition:all ease 2s;
}
.pdf-label{
right: 0px;
top: 0px;
position: absolute;
width: 60px;
	height: 50px;
color: black;
text-transform: uppercase;
font-weight: bold;
text-align: center;

}
.historial{
width: 1000px !important;

}
.historial tbody tr:nth-child(odd){
	background-color:  rgba(255,255,255,0.7) !important;

}
.historial tbody tr:nth-child(even){
	background-color:#f2f2f2 !important;
	color: black;
}
.historial tbody td{
	text-align: center;
}
.historial thead{
background: linear-gradient(rgb(247, 247, 247), rgb(223, 227, 238)) repeat scroll 0% 0% transparent;
width: 100%;
}
.historial thead tr td{
width: 100px;
text-transform: uppercase;
font-size: 12px;
text-align: center;

}
.materia{
	width: 240px;
}
/*fin de tabla histial*/
.title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

.header-cal h5{
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.tabla2{

	margin-bottom: 50px;
	text-align: center;
	margin-left: 60px;
}
.table3{
float: right;
}
.info-alumno table td{
padding-top: 5px;

}
.info-alumno .table3 td{
padding-left: 10px;

}
.header-cal figure {
	margin: 0px;
	/*background-color: red;*/
	display: inline-block;
	margin-top: 10px;

}
.header-cal figure:nth-child(1){
margin-left: 10px;
}
.header-cal figure:nth-child(2){
	float: right;
	margin-right: 10px;
}
.info-alumno table{
	display: inline-block;
	padding: 20px 20px 20px 25px;
}
.content-cal{
width: 1080px;
height:100%;
right: 0px;
/*background-color: red;*/
position:fixed;
margin-top: 60px;
z-index: -10;
}
.cal-scroll{
background-color: rgba(255,255,255,0.9);
width:800px;
height: 640px;
/*background-color: red;*/
/*float: right !important;*/
margin: 0 auto;
overflow: hidden;
overflow-x:hidden;
overflow-y:scroll;
}
.header-cal	figure img{
	width: 250px;

}
.ico-prepa {
	margin-top: 10px;
	width: 290px !important;
}
@media screen and (max-width:800px){
.content-histrial{
	margin-left: 10px;
	width: 570px;
	height:100%;

overflow: hidden;
overflow-x:hidden;
overflow-x:scroll;
/*background-color: red;*/
}

.content-cal{
width: 568px;

}
.pdf{
	width: 60px;
}
.pdf-label{
	display: none;
}
.tabla2{
	margin-left: 0px;
}
.content-cal{
width: 600px;

}

.info-alumno table{
padding: 10px 10px 10px 15px;
}
.header-cal h5{
	font-size: 15px;
	}
.tabla2{
	float: right;
}
.cal-scroll{
width: 600px;
height: 1215px;
float: right !important;
	}
.header-cal	figure img{
	width: 180px;
}
.tabla2{
	text-align: right;
}
.table3{
float: none;

}
.ico-prepa {
	width: 200px !important;
	margin-top: 5px;
}

.info-alumno table:nth-child(3){
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-left: 25% ;
}
.info-alumno .table3 td{
padding-left: 10px !important;
}
}
@media screen and (max-width:768px){
.content-histrial{
	margin-left: 10px;
	width: 540px;
	height:100%;

overflow: hidden;
overflow-x:hidden;
overflow-x:scroll;
/*background-color: red;*/
}

.content-cal{
width: 568px;

}

.info-alumno table td{
padding-top: 1px;

}
.info-alumno table{
padding: 10px 10px 10px 15px;
}
.header-cal h5{
	font-size: 15px;
	}
.tabla2{
	float: right;
}
.cal-scroll{
width: 568px;
height: 958px;
float: right !important;
	}
.header-cal	figure img{
	width: 180px;
}
.tabla2{
	text-align: right;
}
.table3{
float: none;

}
.ico-prepa {
	width: 200px !important;
	margin-top: 5px;
}

.info-alumno table:nth-child(3){
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-left: 25% ;
}
.info-alumno .table3 td{
padding-left: 10px !important;
}
}
@media screen and (max-width:360px){
.content-histrial{
	margin-left: 10px;
	width: 330px;
	height:100%;
	/*background-color: red;*/
}
.cal-scroll{
width: 360px;
height: 575px;
	}

.info-alumno{
	font-size: 11px;
}
.header-cal	figure img{
	width: 120px;
}
.ico-prepa {
	width: 140px !important;
	margin-top: 3px;
}
}
@media screen and (max-width: 320px){
.content-histrial{
	margin-left: 5px;
	width: 290px;
	height:100%;
	/*background-color: red;*/
}
.cal-scroll{
width: 320px;
height: 417px;

}

.info-alumno{
	font-size: 10px;
}

.title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
}
.tabla2{
	text-align: right;

}
.header-cal figure {
	margin: 0px;
	/*background-color: red;*/
	display: inline-block;
	margin-top: 10px;

}
.header-cal figure:nth-child(1){
margin-left: 10px;
}
.header-cal figure:nth-child(2){
	float: right;
	margin-right: 10px;
}
.header-cal	figure img{
	width: 100px;
}
.ico-prepa {
	width: 120px !important;
	margin-top: 0px;
}

}