.modi{
	width: 1078px;
	height: 640px;
	margin-top: 60px;
	position: fixed;
	z-index: -1;
	/*background-color: red;*/
	right: 0px;
}
 input[type="file"]{

	border: 1px solid transparent;
	cursor: pointer;
	background-color:	#00b2ee;
	opacity: 0.9;
}
@media screen and (max-width:768px ){
.modi{
	width: 565px;
	height: 600px;

	/*background-color: red;*/
}
}
@media screen and (max-width:360px ){
.modi{
	width: 100%;
	height: 100%;
}
}
@media screen and (max-width:320px ){
.modi{
	width: 100%;
	height: 100%;


}
}