@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?x2elbl');
	src:url('../fonts/icomoon.eot?#iefixx2elbl') format('embedded-opentype'),
		url('../fonts/icomoon.woff?x2elbl') format('woff'),
		url('../fonts/icomoon.ttf?x2elbl') format('truetype'),
		url('../fonts/icomoon.svg?x2elbl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.content-alumno{
	width: 100%;
	height: 100%;

}
.img-alumno{
	width: 180px;
	height: 500px;
	position: absolute;

}
.foto-alumno{
background-color: rgba(0,0,0,0.6);
width: 120px;
height: 140px;
margin-left: 30px;
}
.info-alumno{
	width: 840px;
	height: 500px;
	float: right;

}
.tabla-mostrar{
	width: 830px;
	height: 450px;
}
.tabla-mostrar .dato{
text-transform: uppercase;
color: #09C;
background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.3),rgba(226, 226, 226, 0.6));
}
.tabla-mostrar  td{
	color: rgba(0, 0, 0, 0.6);
	width: 200px;
	text-align: center;
}
.tabla-mostrar tr td label{
	font-weight: bold;
}
.control .regresar{
	text-decoration: none;
	color: white;
	padding: 10px 45px;
background: linear-gradient(#6A5ACD, #836FFF) repeat scroll 0% 0% transparent;
background:-webkit- linear-gradient(#6A5ACD, #836FFF) repeat scroll 0% 0% transparent;
background: -moz-linear-gradient(#6A5ACD, #836FFF) repeat scroll 0% 0% transparent;
	text-align: center;
	border-radius: 5px;
}
.control .regresar{
	border-bottom: 3px solid #473C8B;
}
.control .regresar:hover{
	border-style: none;
}
.control table{
	margin-top: 20px !important;
	margin: 0 auto;
	text-align: center;
}
.reg:after{
	font-family: "iconitos";
	content: "\e611";
	color:white;
}
.reg{
margin-left: -30px;
}
.userimg .miniatura img{
	width: 45px;
	height:45px;
	border-radius: 50%;
	margin-top: -7px;
	margin-left: -23px;
}
.usuario,.password{
	padding-left: 10px;
	color: #024960;
}
.img-maestro{
	width: 180px;
	height: 500px;
	position: absolute;
}
.foto-maestro{
background-color: rgba(0,0,0,0.6);
width: 120px;
height: 140px;
margin-left: 30px;
}
.foto img{
box-shadow: 7px 7px 7px rgba(0,0,0,0.7);

}
.info-maestro{
	width: 840px;
	height: 500px;
	float: right;

}
.content-name{
	width: 100%;
	text-align: center;
}
.name{
	font-family: helvetica;
	color:rgb(6, 3, 23);
	text-transform: uppercase;
	margin-left: 13px;
}
.content-maestro{
	width: 100%;
	height: 100%;

}
