
.imagen{
position: fixed;
left: 200px;
height: 60px;
width: 230px;
z-index: 100;
}
#contenedorImagen{
	color: white;
}
.botonVerde{
	background-color: transparent;
	border-style: none;
	color: white;
	width: 220px;
	height: 55px;
	font-family: helvetica;
	font-weight: bold;
}
.mensajes{
	width: 300px;
	height: 100px;
	background-color: red;
	position: absolute;
}
.color{
	margin-top: 4px !important;
}
.principal{
	width: 100px;
}
.content-principal{
	width: 1080px;
	height:640px;
	top: 60px;
	right: 0px;
	position: absolute;
	/*background-color: tomato;*/
	z-index: -1;
	/*overflow: hidden;/*/
	overflow: hidden;
overflow-x:hidden;
overflow-y:scroll;
}
.mensajes-alumno{
	width: 1070px;
	/*height: 100%;*/
	/*display: inline-block;*/
	position: absolute;
	margin-top: 360px;
	right: 0px;
	/*background-color:rgba(255,255,255,0.3);*/
}


#lessoncup{
	position: fixed;
	margin-top: 0px;
}
@media only screen and (max-width: 980px) {
.content-principal{
	width: 780px;
	height:640px;
}
.mensajes-alumno{
	margin-left: 35px;
	width: 1070px;
	position: relative;
	margin-top: 250px;


}

}
@media only screen and (max-width: 800px) {
.content-principal{
	width: 600px;
	height:640px;
	/*background-color: tomato;*/

}
.mensajes-alumno{
	width: 600px;
	top:-20px;
	/*margin-top: 250px;*/
}
.mes-cont{
width: 250px !important;
}
#leyent{
	width: 230px !important;
}
}
@media only screen and (max-width: 768px) {
.slider-wrapper{
	height: 220px !important;
}
.mensajes-alumno{
	margin-left: 50px;
}
}

@media only screen and (max-width: 630px) {
.content-principal{
	width: 360px;
	height:640px ;
	/*background-color: tomato;*/

}
.mensajes-alumno{
	width: 360px;
	top:-90px;
	margin-left: 20px;
}
.slider-wrapper{
	height: 150px !important;
}
.mes-cont{
width: 300px !important;
}
#leyent{
width: 280px !important;
}
}
@media only screen and (max-width: 320px) {
.content-principal{
	width: 320px;
	height:640px;
	/*background-color: tomato;*/

}
.mensajes-alumno{
	width: 320px;
	top:-90px;
	margin-left: 5px;
}

}