@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?x2elbl');
	src:url('../fonts/icomoon.eot?#iefixx2elbl') format('embedded-opentype'),
		url('../fonts/icomoon.woff?x2elbl') format('woff'),
		url('../fonts/icomoon.ttf?x2elbl') format('truetype'),
		url('../fonts/icomoon.svg?x2elbl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.Mconfirma{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	display: none;

}
.contentM{
	margin: 0 auto;
	margin-top: 15%;
	width: 550px;
	height: 280px;
	background-color: rgba(255,255,255,0.9) ;

}
.Mhead{
	width: 100%;
	height: 60px;
	background: linear-gradient(#FFA500, #CD8500) repeat scroll 0% 0% transparent;

}
.icoAlert{
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top:15px;
}
.icoAlert span{

}
.icoAlert span:after{
	font-family: "iconitos";
	content: "\e62a";
	font-size: 25px;
	color: white;
}
.Mbody{
	width: 100%;
	height: 130px;


}
.Mfooter{
	text-transform: uppercase;
}
.Mbody p {
margin-left: 20px;
margin-top: 30px;
font-size: 20px;
}
.Mfooter{
	width: 100%;
	height: 70px;
	bottom: 0px;
}
.icoCerrar{
	width: 60px;
	height: 45px;
	top: 0px;
	float: right;
	margin-top: -60px;
}
.icoCerrar span:after{

	text-align: center;
	font-family: "iconitos";
	content: "\e62d";
	color:white;
	font-size: 25px;
	margin-left: 20px;
	margin-right: 15px;

}
.confirmacion{
	width: 150px;
	height: 60px;
	position: absolute;
	margin-top: -75px;
	margin-left: 60px;

}
.confirmacion p {
	color: white;
	margin-top: 20px;
}
.cancelar{
	width: 150px;
	height: 40px;
	border-style: none;
	color: white;
	text-transform: uppercase;
	float: right;
	margin-right: 10px;
	background-image: -webkit-linear-gradient(rgba(38,155,153,255) 28%, rgba(89,145,166,255) 55%, rgba(141,136,179,255) 100%);
	background-image: -o-linear-gradient(rgba(38,155,153,255) 28%, rgba(89,145,166,255) 55%, rgba(141,136,179,255) 100%);
	background-image: linear-gradient(rgba(38,155,153,255) 28%, rgba(89,145,166,255) 55%, rgba(141,136,179,255) 100%);
}

.icoacancelar{
	background: -webkit-linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
background: -o-linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
background: linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
	width: 40px !important;
	height: 40px !important;
	position: relative;
	background-color: red;
	float: right;
	margin-left: 20px;
}
.icoEnviar{
	background: -webkit-linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
background: -o-linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
background: linear-gradient(#00a1f1, #0072c6) repeat scroll 0% 0% transparent;
	width: 40px;
	height: 40px;
	position: relative;
	background-color: red;
	float: right;
	margin-left: -20px;
}
.enviar{
	border-style: none;
	color: white;
	width: 150px;
	height: 40px;
	background: -webkit-linear-gradient(#00CDCD, #009ACD) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#00CDCD, #009ACD) repeat scroll 0% 0% transparent;
	background: linear-gradient(#00CDCD, #009ACD) repeat scroll 0% 0% transparent;
	text-transform: uppercase;
	float: right;
	margin-right: 10px;
}
.icoacancelar{
	width: 30px;
	height: 30px;
	background-color:blue;
	margin-left: 30px;
}


/*ventana de confirmacion*/
.confirmarBtn{
background: #008CDD;
border-style: none;
width: 160px !important;
border-radius:5px;
border-bottom:4px solid 	#00688b;

	}
.confirmarBtn:hover{
border-style: none;
}
	.cancelarBtn{
border-radius:5px;
border-style: none;
width: 160px !important;
background-color:	#ff4500;
border-bottom:4px solid #cd3700;

	}
	.cancelarBtn:hover{
		border-style: none;
	}
/*------------------------------------------------------*/

.tem{
	width: 100%;
	height: 50px;
	background: -moz-linear-gradient(center top , #F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;


background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
	border-radius: 10px 10px 0px 0px;
overflow: hidden;
}
.tem p{
	text-align: center;
	font-weight: bold;
	color: black;
}
.seccion1{
	border-radius: 10px 10px 10px 10px;
	height: 550px;
margin-left: 240px;
margin-top: 10px;
background-color: rgba(255, 255, 255, 0.3);
position: fixed;
width: 80%;
border:2px solid rgba(0,0,0,0.2) ;
}
.control{
background: -moz-linear-gradient(center top , #F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
	width: 80%;

	height: 50px;
	margin-bottom: 15px;
	bottom:0 !important;
	position: fixed;
	border-radius: 0px 0px 10px 10px;
}




/*--------------------------*/
.table2 {
color:white;
font-weight: bold;
float: right;
margin-right: 60px;
}
.table2 td {
padding-left: 40px !important;
}
.table2 td input{
	height: 40px;

}
.conent1{
background: -webkit-linear-gradient(#EE2C2C, #CD3700) repeat scroll 0% 0% transparent;
background: -o-linear-gradient(#EE2C2C, #CD3700) repeat scroll 0% 0% transparent;
background: linear-gradient(#EE2C2C, #CD3700) repeat scroll 0% 0% transparent;
width: 35px;
height: 40px;
border-radius: 0px 5px 5px 0px;
position: absolute;
margin-left: 150px;
margin-top: -40px;

}
.conent1 span{
	vertical-align: middle;
position: absolute;
height: 40px;
}
.icoCancelar{
margin-left: 10px !important;
margin-top: 10px !important;
	margin: 0 auto;
	overflow: hidden;

}
.icoCancelar:after{
	font-family: "iconitos";
	content: "\e630";
	margin-right: 20px;
color: white;
}
.icoaltas{
	margin-left: 10px !important;
	margin-top: 10px !important;
	margin: 0 auto;
	overflow: hidden;

}
.icoaltas:before{

	font-family: "iconitos";
	content: "\e631";
	margin-right: 20px;
color: white;
}
.color{
background: -webkit-linear-gradient(#00A1F1, #0072C6) repeat scroll 0% 0% transparent;
background: -o-linear-gradient(#00A1F1, #0072C6) repeat scroll 0% 0% transparent;
background: linear-gradient(#00A1F1, #0072C6) repeat scroll 0% 0% transparent;
}


