@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?x2elbl');
	src:url('../fonts/icomoon.eot?#iefixx2elbl') format('embedded-opentype'),
		url('../fonts/icomoon.woff?x2elbl') format('woff'),
		url('../fonts/icomoon.ttf?x2elbl') format('truetype'),
		url('../fonts/icomoon.svg?x2elbl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.Mconfirma{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
display: none;
}
.contentM{
	margin: 0 auto;
	margin-top: 15%;
	width: 600px;
	height: 330px;
	background-color: rgba(255,255,255,0.9) ;
}
.Mhead{
	width: 100%;
	height: 60px;
	background: linear-gradient(#FFA500, #CD8500) repeat scroll 0% 0% transparent;

}
.icoAlert{
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top:15px;
}
.icoAlert span{

}
.icoAlert span:after{
	font-family: "iconitos";
	content: "\e62a";
	font-size: 25px;
	color: white;
}
.Mbody{
	width: 100%;
	height: 170px;


}
.Mbody p {
margin-left: 20px;
margin-top: 30px;
}
.Mfooter{
	width: 100%;
	height: 70px;
	bottom: 0px;
}
.icoCerrar{
	width: 60px;
	height: 45px;
	top: 0px;
	float: right;
	margin-top: -60px;
}
.icoCerrar span:after{

	text-align: center;
	font-family: "iconitos";
	content: "\e62d";
	color:white;
	font-size: 25px;
	margin-left: 20px;
	margin-right: 15px;

}
.confirmacion{
	width: 150px;
	height: 60px;
	position: absolute;
	margin-top: -75px;
	margin-left: 60px;

}
.confirmacion p {
	color: white;
	margin-top: 20px;
}
.cancelar{
	width: 150px;
	height: 40px;
	background: -webkit-linear-gradient(#009ACD, #1874CD) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#009ACD, #1874CD) repeat scroll 0% 0% transparent;
	background: linear-gradient(#009ACD, #1874CD) repeat scroll 0% 0% transparent;
	border-style: none;
	color: white;
	text-transform: uppercase;
	float: right;
	margin-right: 10px;
}

.icoacancelar{
	width: 30px;
	height: 30px;
	background-color: red;
}
.enviar{
	border-style: none;
	color: white;
	width: 150px;
	height: 40px;
	background: -webkit-linear-gradient(#00CDCD, #009ACD) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#00CDCD, #009ACD) repeat scroll 0% 0% transparent;
	background: linear-gradient(#00CDCD, #009ACD) repeat scroll 0% 0% transparent;
	text-transform: uppercase;
	float: right;
	margin-right: 10px;
}
.icoacancelar{
	width: 30px;
	height: 30px;
	background-color:blue;
	margin-left: 30px;
}