@import url("../../../css-global/style.css");

@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?x2elbl');
	src:url('../fonts/icomoon.eot?#iefixx2elbl') format('embedded-opentype'),
		url('../fonts/icomoon.woff?x2elbl') format('woff'),
		url('../fonts/icomoon.ttf?x2elbl') format('truetype'),
		url('../fonts/icomoon.svg?x2elbl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'buscar';
	src:url('../fonts2/icomoon.eot?-5dly7z');
	src:url('../fonts2/icomoon.eot?#iefix-5dly7z') format('embedded-opentype'),
		url('../fonts2/icomoon.woff?-5dly7z') format('woff'),
		url('../fonts2/icomoon.ttf?-5dly7z') format('truetype'),
		url('../fonts2/icomoon.svg?-5dly7z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.datos{
	text-transform: uppercase;
}
/*inicio de activo*/
#cssmenu > ul > .activo > a {
  color:white;
  background: -webkit-linear-gradient(#00ffff,rgba(0, 91, 150, 0.8) );
  background: -moz-linear-gradient(#00d2ff,rgba(0, 91, 150, 0.8) )!important;
  background: -o-linear-gradient(#00ffff,rgba(0, 91, 150, 0.8) );
  background: -ms-linear-gradient(#00ffff,rgba(0, 91, 150, 0.8) );
  background: linear-gradient(#00d2ff,rgba(0, 91, 150, 0.8) );
}
/*fin de activo*/
.mod p a{
	text-decoration: none;
	color:white;
}

.tem{
	width: 100%;
	height: 50px;
	background: -webkit-linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	background: linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	border-radius: 10px 10px 0px 0px;
overflow: hidden;
}
.tem p{
	text-align: center;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
}
.seccion1{
	border-radius: 10px 10px 10px 10px;
	height: 550px;
	margin-left: 240px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	position: fixed;
	width: 80%;
	border:2px solid rgba(0,0,0,0.2) ;

}
.control{
	background: -webkit-linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	background: -o-linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	background: linear-gradient(#F7F7F7, #DFE3EE) repeat scroll 0% 0% transparent;
	width: 80%;
	height: 50px;
	margin-bottom: 15px;
	bottom:0 !important;
	position: fixed;
	border-radius: 0px 0px 10px 10px;
}
.buscar{
	width: 250px;
	height: 30px;
	border-style: none;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
	padding-left: 10px;
}
.search{
	text-align: center;

}
#resultTable{
	margin: 0 auto;
	margin-top: 10px;
	font-size: 14px;
}
#resultTable thead{
	background-color:#09C;
}
#resultTable thead th{
	width: 150px;
	height: 0px;
	color: white;
	text-transform: uppercase;
}
#resultTable tbody{

	font-size: 14px;
	text-align: center;

}
#resultTable tbody td{
	height: 35px;
	border-bottom: 1px solid rgba(0,0,0,0.1)
}
#resultTable tbody tr:nth-child(odd){
	background-color:  rgba(255,255,255,0.7);

}
#resultTable tbody tr:nth-child(even){
	background-color:  #eeeeee;
	color: black;
}
.btnSearch{
	width: 50px;
	height: 32px;
	color: white;
	margin-top: 10px;
	position: absolute;
	border-style:none;
	border-bottom:2px solid blue;
	background-color: #0099cc;
}
.btnSearch:hover{
	border-style: none;
}
.icoSearch.{

}
.icoSearch:after
{
	font-family: "buscar";
	content:"\e606";
}
.buscar{
margin-top:10px;

}
.Noexiste{
	width: 100%;
	background-color: red;
}
.lia a{
	text-decoration: none;
}
.mas:after{
	font-family: "buscar";
	content:"\e607";
}
.ContentBuscar{

width: 800px;
height: 350px;
z-index: -10;
margin: 0 auto !important;
 overflow: hidden;
overflow-x:hidden;
overflow-y:scroll;
}
.ContentBuscar tbody{
float: top;
top: 0px;
}
.datosAlumno{
	background-color: red;
	text-align: center;
	background-color: #09C;
	width: 750px;
	margin: 0 auto;
	margin-left: 130px;
	height: 30px;
	margin-top: 10px !important;
}
.datosAlumno table{
	margin: 0 auto;

}
.datosAlumno table th{
	width: 150px;
	color: white;
	text-transform: uppercase;
	padding: 5px;
}
.datosBucar1{
	text-align: center;

}

.icoBuscar:before{
	color: #000;
}