body{
	background:scroll right center, none repeat scroll 0% 0% #008FD5;
	font-family: "Open Sans",Arial;
}
section{
	text-align: center;
	color: white;
	text-transform: uppercase;
}
section figure p{
	font-size: 70px;
	font-weight: bold;

}
section .mensaje{
	margin-top: 0px;
}
section h1{
	margin-top: -60px;
	font-size: 25px;
}
footer{

}
footer img{
	width: 100%;
	display: block;
	bottom: 0px;
	left: 0px;

	position: fixed;


}