body{
	background:scroll right center, none repeat scroll 0% 0% #008FD5;
	font-family: "Open Sans",Arial;
}
section{
	text-align: center;
	color: white;
	text-transform: uppercase;
}
section figure p{
	font-size: 70px;
	font-weight: bold;

}
section .mensaje{
	margin-top: 0px;


}
.mensaje:hover{
  -moz-animation: 2s bote ease-in-out;
}

@-moz-keyframes bote {
  20%, 50%, 80% {
    -moz-transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
  }

  65% {
    -moz-transform: translateY(-15px);
  }
}
section h1{
	margin-top: -60px;
	font-size: 17px;
}
footer{

}
footer img{
	width: 100%;
	display: block;
	bottom: 0px;
	left: 0px;

	position: fixed;


}